###
# Unity folders and files
###
/2-Play/[Aa]ssets/AssetStoreTools*
/2-Play/[Bb]uild/
/2-Play/[Ll]ibrary/
/2-Play/[Ll]ocal[Cc]ache/
/2-Play/[Oo]bj/
/2-Play/[Tt]emp/
/2-Play/[Uu]nityGenerated/
# file on crash reports
sysinfo.txt
# Unity3D generated meta files
*.pidb.meta

###
# VS/MD solution and project files
###
[Ee]xportedObj/
*.booproj
*.csproj
*.sln
*.suo
*.svd
*.unityproj
*.user
*.userprefs
*.pidb
.DS_Store

###
# OS generated
###
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db